@import "tailwindcss";
@font-face {
  font-family: "Peyda";
  src:
    local("Peyda"),
    url("../../public/Peyda-Black.woff2") format("woff2");
    font-weight: bold,

    url("../../public/peyda/Peyda-Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
  font-family: "Peyda";
  src:
    local("Peyda"),
    url("../../public/peyda/Peyda-Regular.woff2") format("woff2");
    font-weight: 400;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.peyda {
  font-family: "Peyda";
  color:#b99365;
}
.bala:hover {
  transform: translateY(-10px);
}